.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.featureImage {
  width: 250px;        
  height: auto;
  border-radius: 50%;  
  border-width: 3rem;
  border-color: white;
  margin: 15px;
}