.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.featureImage {
  width: 220px;        /* or 100%, depending on layout */
  height: auto;
  border-radius: 50%; /* optional */
  margin-bottom: 1rem;
}